/* .card {
  position: relative;
  border: 1px solid #f2f2f2;
  border-radius: 5px; 
  background: #101213;
  text-align: center;
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  height: 0;
  width: 45%;
  padding-bottom: 45%;
  margin: 2.5%;
  transition: all .25s;
} */

.card {
  position: relative;
  display: inline-block;
  width: 75vh;
  height: 75vh;
  margin: 15vh 2.5vw 5vh 2.5vw;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  border-radius: 5px; 
  background: #101213;
  text-align: center;
  user-select: none;
  
  transition: all .25s;
}

.card:first-child {
  margin-left: 5vw;
}

.card:last-child {
  margin-right: 5vw;
}

.card:hover {
  outline: none;
  cursor: zoom-in;
  transform: scale(1.05);
}

.cardClicked {
  transform: scale(1.05);
}

.cardTitle {
  position: absolute;
  right: 50%;
  font-size: 130%;
  transform: translateX(50%);
  box-sizing: border-box;
}

.link {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  padding: 1% 5% 1% 5%;
  color: #f2f2f2;
  text-decoration: none;
  margin: 1% 5%;
  bottom: 5%;
  transition: all .25s;
  z-index: 2;
}

.right {
  right: 10%;
}

.left {
  left: 10%;
}

.link:hover {
  padding-bottom: 10px;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .card {
    width: 75vw;
    height: 75vw;
  }
}


