.item {
  position: relative;
  border: 1px solid #f2f2f2;
  border-radius: 5px; 
  background: #101213;
  text-align: center;
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  height: 0;
  width: 45%;
  padding-bottom: 45%;
  margin: 2.5%;
  transition: all .25s;
}

.item:hover {
  outline: none;
  cursor: zoom-in;
  transform: scale(1.1);
}

.itemClicked {
  transform: scale(1.1);
}

.itemTitle {
  position: absolute;
  right: 50%;
  font-size: 130%;
  transform: translateX(50%);
  box-sizing: border-box;
}

.link {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  padding: 1% 5% 1% 5%;
  color: #f2f2f2;
  text-decoration: none;
  margin: 1% 5%;
  bottom: 5%;
  transition: all .25s;
  z-index: 2;
}

.right {
  right: 10%;
}

.left {
  left: 10%;
}

.link:hover {
  /* bottom: 6%; */
  padding-bottom: 10px;
  /* margin-bottom: 1%; */
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...}  */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .link {
   display: none;
  }

  .itemClicked {
    transform: scale(1);
  }

} 

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (max-width: 1200px) {

} */
