.container {
  margin-top: 0;
  margin-left: 25vw;
  padding: 5vw;
  width: 75vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  overflow-y: scroll;
  box-sizing: border-box;
  z-index: 1;
}

.item {
  cursor: pointer;
  border: 1px solid #f2f2f2;
  border-radius: 5px; 
  background: none;
  text-align: center;
  user-select: none;
}
