.container {
  position: relative;
  box-sizing: border-box;
  height: 80vh;
  margin: 5vh 5vw;
  font-size: 150%;
  text-align: justify;
  line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
  .container {
    text-align: left;
  }
}