.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  opacity: .5;
  cursor: zoom-out;
  z-index: 9;
}

.item {
  position: absolute;
  border: 1px solid #f2f2f2;
  border-radius: 5px; 
  background: #101213;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  height: 90vh;
  width: 0;
  top: 5vh;
  left: 50%;
  padding-right: 50%;
  transform: translateX(-50%);
  transition: all .5s;
  z-index: 10;
}

.item:hover {
  outline: none;
}

.itemTitle {
  position: absolute;
  right: 50%;
  font-size: 130%;
  transform: translateX(50%);
  box-sizing: border-box;
}

.closeBtn {
  position: absolute;
  left: 95%;
  box-sizing: border-box;
}

.link {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  padding: 1% 5% 1% 5%;
  color: #f2f2f2;
  text-decoration: none;
  margin: 1% 5%;
  bottom: 5%;
  transition: all .25s;
}

.right {
  right: 10%;
}

.left {
  left: 10%;
}

.link:hover {
  /* bottom: 6%; */
  padding-bottom: 1.5%;
  /* margin-bottom: 1%; */
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...}  */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .link {
   /* display: none; */
  }
} 

@media only screen and (max-width: 1024px) {
  .item {
    padding-right: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
