.container {
  margin: 1%;
  width: 25%;
  height: 100%;
  position: fixed;
  display: block;
  font-size: auto;
  overflow: visible;
  z-index: 1;
}

.title * {
  margin: 0;
}
.title > h1 {
  font-size: 250%;
}

.buttons {
  margin-top: 50%;
}

.btn {
  font-size: 100%;
  width: auto;
  display: block;
  margin: 5% 5% 0 0;
  color: #f2f2f2;
  text-decoration: none;
}

.btn:hover {
  font-size: 110%;
}

.btnActive {
  margin-left: 5%;
}
