.container {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 5vh;
}

.container::-webkit-scrollbar {
  display: block;
  margin: 0 5vw;
  height: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  cursor: ew-resize;
}

.container::-webkit-scrollbar-thumb {
  /* border: 1px solid #f2f2f2; */
  border-radius: 5px; 
  background: #f2f2f2;
}

.container::-webkit-scrollbar-button {
  width: 5vw;
}