.container {
  margin-top: 0;
  /* margin-left: 25vw; */
  /* padding: 5vw; */
  padding: 5vw 5vw 5vw 25vw;
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow-y: scroll;
  box-sizing: border-box;
}

.pageTitle {
  /* transform: translate(0, -100%); */
  /* text-decoration: underline; */
  border-bottom: 1px solid #f2f2f2;
  padding: 2% 0;
}

.toTopBtn {
  border-bottom: 1px solid #f2f2f2;
  position: fixed;
  bottom: 5%;
  right: 2%;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #f2f2f2;
  transition: all .25s;
}

.toTopBtn:hover {
  cursor: pointer;
  padding-bottom: 5px;
}
